<!-- Education Section -->
<div class="mt-6">
	<h2 class="text-2xl font-bold mb-3">Education</h2>

	<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
		<div class="flex justify-between items-center">
			<h3 class="text-xl font-semibold mb-1">
				<a href="http://www.uem.br">State University of Maringá</a>
			</h3>
			<div class="text-lg">
				<span class="font-semibold">Feb 2014 - Dec 2016</span>
			</div>
		</div>
		<h4 class="text-lg font-semibold mb-2">
			Master's degree in Computer Science
		</h4>
		<p class="text-lg mb-4">
			Thesis: Algorithms based on Variable Neighborhood Search (VNS) metaheuristic applied in the Bus Driver Schedule Problem.
		</p>
	</div>

	<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
		<div class="flex justify-between items-center">
			<h3 class="text-xl font-semibold mb-1">
				<a href="http://www.uem.br">State University of Maringá</a>
			</h3>
			<div class="text-lg">
				<span class="font-semibold">Feb 2010 - Dec 2013</span>
			</div>
		</div>
		<h4 class="text-lg font-semibold mb-2">
			Bachelors's degree in Computer Science
		</h4>
		<p class="text-lg mb-4">
			Thesis: A genetic algorithm for the Feedback Arc Set Problem.
		</p>
	</div>

</div>

<!-- Education Scientific Papers Section -->
<div class="mt-6">
	<h2 class="text-2xl font-bold mb-3">Scientific Papers</h2>

	<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
		<div class="flex justify-between items-center">
			<h3 class="text-xl font-semibold mb-1">
				<a href="https://www.jucs.org/">Journal of Universal Computer Science</a>
			</h3>
			<div class="text-lg">
				<span class="font-semibold">May 2017</span>
			</div>
		</div>
		<a href="https://nottingham-repository.worktribe.com/output/862152/solving-a-large-real-world-bus-driver-scheduling-problem-with-a-multi-assignment-based-heuristic-algorithm">
			<p class="text-lg mb-4">
				Solving a Large Real-world Bus Driver Scheduling Problem with a Multi-assignment based Heuristic Algorithm.
			</p>
		</a>
	</div>
</div>

<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
	<div class="flex justify-between items-center">
		<h3 class="text-xl font-semibold mb-1">
			<a href="https://sbpo2016.ufes.br/">XLVIII SBPO - Simpósio Brasileiro de Pesquisa Operacional (pt-BR)</a>
		</h3>
		<div class="text-lg">
			<span class="font-semibold">Sep 2017</span>
		</div>
	</div>
	<a href="http://repositorio.uem.br:8080/jspui/handle/1/2529">
		<p class="text-lg mb-4">
			Algoritmos baseados na meta-heurística VNS aplicados ao Problema de Escalonamento de Motoristas de Ônibus.
		</p>
	</a>
</div>

	<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
	<div class="flex justify-between items-center">
		<h3 class="text-xl font-semibold mb-1">
			<a href="http://www.iceis.org/?y=2015">17th International Conference on Enterprise Information Systems (ICEIS-2015)</a>
		</h3>
		<div class="text-lg">
			<span class="font-semibold">Jan 2015</span>
		</div>
	</div>
	<a href="https://www.researchgate.net/publication/296331375_Combining_Heuristic_and_Utility_Function_for_Fair_Train_Crew_Rostering">
		<p class="text-lg mb-4">
			Combining Heuristic and Utility Function for Fair Train Crew Rostering.
		</p>
	</a>
</div>
