<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-EWSEENKXNV"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-EWSEENKXNV');
	</script>

<!--	<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<title>Allainclair Flausino dos Santos</title>

	<script src="https://unpkg.com/htmx.org@1.9.11"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/disable-element.js"></script>

	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200">

<!-- Navbar -->
<nav class="bg-gray-800 p-2" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/bg-1.png'); background-position: center; background-repeat: no-repeat; background-size: cover;">
	<div class="container mx-auto flex justify-between items-center">
		<a href="/" class="flex items-center">
			<img alt="allainclair" src="images/avt-lensa-2.png" class="h-32 rounded-full mr-3">
			<div>
				<span class="text-white font-bold text-2xl block">Allainclair Flausino dos Santos</span>
				<span class="text-gray-200 text-xl block">Software Engineer, Computer Scientist, Python</span>
			</div>
		</a>
		<ul class="flex space-x-4">

			<li>
				<a href="https://www.linkedin.com/in/allainclair">
					<img alt="Allinclair's LinkedIn" src="https://img.shields.io/badge/LinkedIn-0077B5?style=flat-square&logo=linkedin&logoColor=white" class="rounded-md">
				</a>
			</li>

			<li>
				<a href="https://github.com/allainclair" class="text-white">
					<img alt="Allainclair's GitHub" src="https://img.shields.io/badge/GitHub-0366d6?style=flat-square&logo=github&logoColor=white" class="rounded-md">
				</a>
			</li>

			<li>
				<a href="mailto:allainclair@gmail.com" class="text-blue-400 hover:underline">
					<img alt="allainclair@gmail.com" src="https://img.shields.io/badge/allainclair@gmail.com-D14836?style=flat-square&logo=gmail&logoColor=white" class="rounded-md">
				</a>
			</li>

		</ul>
	</div>

	<div class="container mx-auto">
		<ul class="flex justify-center space-x-8">
			<li>
					<a href="/" class="text-white text-xl hover:text-blue-300 font-semibold">Home</a>
			</li>
			<li hx-get="/projects" hx-target="#content">
					<a href="#" class="text-white text-xl hover:text-blue-300 font-semibold">Projects</a>
			</li>
			<li hx-get="/professional-experience" hx-target="#content">
					<a href="#" class="text-white text-xl hover:text-blue-300 font-semibold">Professional Experience</a>
			</li>
			<li hx-get="/education" hx-target="#content">
					<a href="#" class="text-white text-xl hover:text-blue-300 font-semibold">Education</a>
			</li>
			<li>
					<a href="http://rs1.allainclair.com" class="text-white text-xl hover:text-blue-300 font-semibold">rs1.allainclair.com</a>
			</li>
			<li>
					<a href="http://econ.allainclair.com" class="text-white text-xl hover:text-blue-300 font-semibold">econ.allainclair.com</a>
			</li>
		</ul>
	</div>
</nav>

<!-- Content Section -->
<div id="content" class="container mx-auto mt-4">
	<h1 class="text-3xl font-bold mb-4">Hi, I am Allainclair</h1>
	<p class="text-lg inline-flex items-center">
		A software engineer from Brazil with about nine years of experience.
		Since my adolescence, I am a computer enthusiast; I was amazed by the internet, I built some websites, played games,
		and met people from many places. Before the internet, our reach was too limited; after, unlimited. Since that time, I follow every day, the path to becoming a better tech professional. I have a computer science background, and I have achieved significant professional positions so far. I thank my family and all people responsible for this.
	</p>

	<!-- Projects Section -->
	<div class="mt-6">
		<h2 class="text-2xl font-bold mb-3">Projects</h2>
		<div class="bg-gray-100 p-4 rounded-md shadow-md">
			<h3 class="text-xl font-semibold mb-2">Brazil's Economic Indexes</h3>
			<p class="text-lg mb-4">
				<a href="http://econ.allainclair.com" class="text-blue-500 hover:underline">econ.allainclair.com</a>
				(pt-BR) I have created and maintained this website for Brazil’s economic indexes. At the moment, the website shows only
				the ”inflation” index for the current and past month, 3, 6, and 12 months accumulated rolling, and year to date. It is in pt_BR.
			</p>
		</div>
		<div class="bg-gray-100 p-4 rounded-md shadow-md  mt-2">
			<h3 class="text-xl font-semibold mb-2">Real State Maringá</h3>
			<p class="text-lg mb-4">
				<a href="http://rs1.allainclair.com" class="text-blue-500 hover:underline">rs1.allainclair.com</a>
				(pt-BR) is a personal project to show real state of the city of
				<a href="https://www.google.com/maps/place/Maringá+-+Floriano,+Maringá+-+State+of+Paraná/@-23.4108814,-52.0531799,12z/data=!3m1!4b1!4m6!3m5!1s0x94ecd6ee42618c1f:0xc356592828e03925!8m2!3d-23.4209995!4d-51.9330558!16zL20vMDF0dnpx?entry=ttu" class="text-blue-500 hover:underline">
					Maringá, PR, Brazil</a>.
				It brings and update around 20,000 records every day to show real state in a map.
			</p>
		</div>
	</div>

	<!-- Professional Section -->
	<div class="mt-6">
		<h2 class="text-2xl font-bold mb-3">Professional experience</h2>

		<div class="bg-gray-100 p-4 rounded-md shadow-md">
			<div class="flex justify-between items-center">
				<h3 class="text-xl font-semibold mb-1">
					<a href="https://www.necc.org">New England Center for Children</a>
				</h3>
				<div class="text-lg">
					<span class="font-semibold">Aug 2023 - Present</span>
				</div>
			</div>
			<h4 class="text-lg font-semibold mb-2">
				Software Engineer
			</h4>
			<p class="text-lg mb-4">
				We design, create, and maintain ed-tech apps. I have been working on creating Python 3 FastAPI/Quart services with MySQL to manage data.
			</p>
		</div>

		<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
			<div class="flex justify-between items-center">
				<h3 class="text-xl font-semibold mb-1">
					<a href="https://www.shipwell.com">Shipwell</a>
				</h3>
				<div class="text-lg">
					<span class="font-semibold">Sep 2022 - Jul 2023 · 11 mos</span>
				</div>
			</div>
			<h4 class="text-lg font-semibold mb-2">
				Backend Software Engineer
			</h4>
			<p class="text-lg mb-4">
				Designing, creating, and maintaining a backend service to integrate load boards across North America.
			</p>
		</div>

		<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
			<div class="flex justify-between items-center">
				<h3 class="text-xl font-semibold mb-1">
					<a href="https://www.pinterest.com">Pinterest</a>
				</h3>
				<div class="text-lg">
					<span class="font-semibold">Sep 2019 - Jul 2022 · 2 yrs 11 mos</span>
				</div>
			</div>
			<h4 class="text-lg font-semibold mb-2">
				Software Engineer
			</h4>
			<p class="text-lg mb-1">
				Trust and Safety Tools Team: we provided tools to keep Pinterest trusty and safe.
				We developed and maintained web tools to assist agents in fast-track trust and safety issues and solve them.
			</p>
			<p class="text-lg mb-4">
				Ads interface and Growth Team: we provided monitoring and alerting tools to improve observability on Ads Interface & Growth systems. We worked and developed
				time-series dashboards for monitoring, alerting and reporting; Google Chrome extension to check API requests miss behavior.
			</p>
		</div>

		<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
			<div class="flex justify-between items-center">
				<h3 class="text-xl font-semibold mb-1">
					<a href="https://www.bairesdev.com">BairesDev</a>
				</h3>
				<div class="text-lg">
					<span class="font-semibold">Sep 2019 - Jul 2022 · 2 yrs 11 mos</span>
				</div>
			</div>
			<h4 class="text-lg font-semibold mb-2">
				Backend Software Engineer
			</h4>
			<p class="text-lg mb-4">
				We created screening processes for new employees, and we also helped some colleagues with mentorships. I interviewed many candidates to be Python-focused software engineers.
			</p>
		</div>

		<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
			<div class="flex justify-between items-center">
				<h3 class="text-xl font-semibold mb-1">
					<a href="http://www.uem.br">Maringá State University</a>
				</h3>
				<div class="text-lg">
					<span class="font-semibold">Apr 2019 - Oct 2019 · 7 mos</span>
				</div>
			</div>
			<h4 class="text-lg font-semibold mb-2">
				Assistant Professor
			</h4>
			<p class="text-lg mb-4">
				I ministered the following subjects: • Algorithms and Data Structures • Relational Database
				• Multi and Hypermedia Systems • Algorithm Analysis and Graph Theory • Object-Oriented Programming.
			</p>
		</div>

		<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
			<div class="flex justify-between items-center">
				<h3 class="text-xl font-semibold mb-1">
					<a href="https://seebot.com.br">Seebot</a>
				</h3>
				<div class="text-lg">
					<span class="font-semibold">Oct 2015 - Sept 2019 · 4 yrs</span>
				</div>
			</div>
			<h4 class="text-lg font-semibold mb-2">
				Tech Lead & Data Scientist
			</h4>
			<p class="text-lg mb-1">
				We assembled an entire smart traffic light (STL) that can sense streets using cameras and act (open/close) autonomously.
				Our main achievements were when I led software engineers, we created STL hardware and software controllers, traffic simulators for traffic optimization, and dashboards.
			</p>
			<p class="text-lg mb-4">
				We created a traffic simulator using SUMO (Simulation of Urban MObility). Our main algorithm on this simulator had 200% to 400% waiting time optimization on light to medium vehicle traffic. We also deployed our STL in four real crossing roads. To achieve this, we had to:
				• Do researches in traffic optimization area by using smart traffic lights
				• Design and develop optimization algorithms for smart traffic lights
				• Design and create an embedded distributed real-time systems for the STL with a microservice architecture.
			</p>
		</div>

		<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
			<div class="flex justify-between items-center">
				<h3 class="text-xl font-semibold mb-1">
					<a href="https://www.linkedin.com/company/earlysec/">EarlySec</a>
				</h3>
				<div class="text-lg">
					<span class="font-semibold">Jun 2018 - Mar 2019 · 10 mos</span>
				</div>
			</div>
			<h4 class="text-lg font-semibold mb-2">
				Data Scientist
			</h4>
			<p class="text-lg mb-4">
				We created security systems to advise our clients on assurance issues. We used Natural Language Processing
				(NLP) techniques to filter, train, classify, and cluster social media messages. This way, we could alert our clients if something unusual was happening.
			</p>
		</div>

	</div>

	<!-- Education Section -->
	<div class="mt-6">
		<h2 class="text-2xl font-bold mb-3">Education</h2>

		<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
			<div class="flex justify-between items-center">
				<h3 class="text-xl font-semibold mb-1">
					<a href="http://www.uem.br">State University of Maringá</a>
				</h3>
				<div class="text-lg">
					<span class="font-semibold">Feb 2014 - Dec 2016</span>
				</div>
			</div>
			<h4 class="text-lg font-semibold mb-2">
				Master's degree in Computer Science
			</h4>
			<p class="text-lg mb-4">
				Thesis: Algorithms based on Variable Neighborhood Search (VNS) metaheuristic applied in the Bus Driver Schedule Problem.
			</p>
		</div>

		<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
			<div class="flex justify-between items-center">
				<h3 class="text-xl font-semibold mb-1">
					<a href="http://www.uem.br">State University of Maringá</a>
				</h3>
				<div class="text-lg">
					<span class="font-semibold">Feb 2010 - Dec 2013</span>
				</div>
			</div>
			<h4 class="text-lg font-semibold mb-2">
				Bachelors's degree in Computer Science
			</h4>
			<p class="text-lg mb-4">
				Thesis: A genetic algorithm for the Feedback Arc Set Problem.
			</p>
		</div>

	</div>

	<!-- Education Scientific Papers Section -->
	<div class="mt-6">
		<h2 class="text-2xl font-bold mb-3">Scientific Papers</h2>

		<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
			<div class="flex justify-between items-center">
				<h3 class="text-xl font-semibold mb-1">
					<a href="https://www.jucs.org/">Journal of Universal Computer Science</a>
				</h3>
				<div class="text-lg">
					<span class="font-semibold">May 2017</span>
				</div>
			</div>
			<a href="https://nottingham-repository.worktribe.com/output/862152/solving-a-large-real-world-bus-driver-scheduling-problem-with-a-multi-assignment-based-heuristic-algorithm">
				<p class="text-lg mb-4">
					Solving a Large Real-world Bus Driver Scheduling Problem with a Multi-assignment based Heuristic Algorithm.
				</p>
			</a>
		</div>
	</div>

	<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
		<div class="flex justify-between items-center">
			<h3 class="text-xl font-semibold mb-1">
				<a href="https://sbpo2016.ufes.br/">XLVIII SBPO - Simpósio Brasileiro de Pesquisa Operacional (pt-BR)</a>
			</h3>
			<div class="text-lg">
				<span class="font-semibold">Sep 2017</span>
			</div>
		</div>
		<a href="http://repositorio.uem.br:8080/jspui/handle/1/2529">
			<p class="text-lg mb-4">
				Algoritmos baseados na meta-heurística VNS aplicados ao Problema de Escalonamento de Motoristas de Ônibus.
			</p>
		</a>
	</div>

		<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
		<div class="flex justify-between items-center">
			<h3 class="text-xl font-semibold mb-1">
				<a href="http://www.iceis.org/?y=2015">17th International Conference on Enterprise Information Systems (ICEIS-2015)</a>
			</h3>
			<div class="text-lg">
				<span class="font-semibold">Jan 2015</span>
			</div>
		</div>
		<a href="https://www.researchgate.net/publication/296331375_Combining_Heuristic_and_Utility_Function_for_Fair_Train_Crew_Rostering">
			<p class="text-lg mb-4">
				Combining Heuristic and Utility Function for Fair Train Crew Rostering.
			</p>
		</a>
	</div>

</div>

<!-- Footer -->
<footer class="bg-gray-800 text-white p-4 mt-8">
	<div class="container mx-auto flex justify-center items-center">
		<p class="mr-2">Powered by</p>
		<a href="https://www.python.org/" class="text-blue-400 hover:underline">
			<img alt="Python" src="https://img.shields.io/badge/Python-306998?style=flat-square&logo=python&logoColor=ffdd54" class="rounded-md mr-1">
		</a>
		<a href="https://www.docker.com" class="text-blue-400 hover:underline">
			<img alt="Docker" src="https://img.shields.io/badge/Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" class="rounded-md mr-1">
		</a>
		<a href="https://htmx.org" class="text-blue-400 hover:underline">
			<img alt="htmx" src="https://img.shields.io/badge/htmx-4169e1?style=flat-square&logo=htmx&logoColor=black" class="rounded-md mr-1">
		</a>
		<a href="https://google.com" class="text-blue-400 hover:underline">
			<img alt="Google" src="https://img.shields.io/badge/Google-4285F4?style=flat-square&logo=google&logoColor=white" class="rounded-md mr-1">
		</a>
		<a href="https://chat.openai.com" class="text-blue-400 hover:underline">
			<img alt="ChatGPT" src="https://img.shields.io/badge/ChatGPT-74aa9c?style=flat-square&logo=openai&logoColor=white" class="rounded-md mr-1">
		</a>

		<a href="https://www.oracle.com/cloud/" class="text-blue-400 hover:underline">
			<img alt="Oracle" src="https://img.shields.io/badge/Oracle-F80000?style=flat-square&logo=oracle&logoColor=white" class="rounded-md mr-1">
		</a>

		<a href="https://tailwindcss.com" class="text-blue-400 hover:underline">
			<img alt="tailwindcss" src="https://img.shields.io/badge/tailwindcss-0F172A?style=flat-square&logo=tailwindcss" class="rounded-md mr-1">
		</a>

		<a href="https://litestar.dev" class="text-blue-400 hover:underline">
			<img alt="Litestar" src="https://litestar.dev/_static/logo.svg" width="50" height="50">
		</a>
	</div>
	<div class="container mx-auto text-center mt-4">
			<p>&copy; 2024 Allainclair Flausino dos Santos. All rights reserved.</p>
	</div>
</footer>

</body>
</html>
