<div class="mt-6">

	<h2 class="text-2xl font-bold mb-3">Projects</h2>

	<div class="bg-gray-100 p-4 rounded-md shadow-md">
		<h3 class="text-xl font-semibold mb-2">Real State Maringá</h3>
		<p class="text-lg mb-4">
			<a href="http://rs1.allainclair.com" class="text-blue-500 hover:underline">rs1.allainclair.com</a>
			(pt-BR) is a personal project to show real state of the city of
			<a href="https://www.google.com/maps/place/Maringá+-+Floriano,+Maringá+-+State+of+Paraná/@-23.4108814,-52.0531799,12z/data=!3m1!4b1!4m6!3m5!1s0x94ecd6ee42618c1f:0xc356592828e03925!8m2!3d-23.4209995!4d-51.9330558!16zL20vMDF0dnpx?entry=ttu" class="text-blue-500 hover:underline">
				Maringá, PR, Brazil</a>.
			It brings and update around 20,000 records every day to show real state in a map.
		</p>
	</div>

	<div class="bg-gray-100 p-4 rounded-md shadow-md mt-2">
		<h3 class="text-xl font-semibold mb-2">Brazil's Economic Indexes</h3>
		<p class="text-lg mb-4">
			<a href="http://econ.allainclair.com" class="text-blue-500 hover:underline">econ.allainclair.com</a>
			(pt-BR) I have created and maintained this website for Brazil’s economic indexes. At the moment, the website shows only
			the ”inflation” index for the current and past month, 3, 6, and 12 months accumulated rolling, and year to date. It is in pt_BR.
		</p>
	</div>

</div>
